{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block head %}
	{{ super() }}
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/login_register_upload.js', _external=True) }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css', _external=True) }}">
{% endblock %}

{% block content %}
	<div class="login-page" ng-app="myApp" ng-controller="myController">
		<div class="form">
			<form class="register-form">	
				<input type="text" id="name" placeholder="name" required/>
				<input type="password" id="password" placeholder="password" required/>
				<input type="password" placeholder="confirm password" required/>
				<input type="email" id="email" ng-model="inputEmail" placeholder="email address" required/>
				<span ng-show="!validCUHKemail()">Please make sure your email address is from CUHK domain !<br></span>
				<script>
					var app = angular.module('myApp', []);
					app.controller("myController", function($scope){
						// $scope.inputLoginEmail = ".cuhk.edu.hk";
						$scope.validCUHKemail = function(){
							return document.getElementById("email").value.slice(-12) == ".cuhk.edu.hk";
						}
					});
				</script>

				<button id="create">create</button>
				<p class="message">Already registered? <a href="#">Sign In</a></p>
			</form>
			<form class="login-form">
				<input type="email" id="loginEmail" ng-model="inputLoginEmail" placeholder="email address" required />
				<input type="password" id="loginPassword" placeholder="password" required/>
				<button id="login">login</button>
				<div>
					<div id="links_left"><a href="#">Forgot your Password?</a></div>
					<div id="links_right"><a href="#">Not a Member Yet?</a></div>
				</div>
			</form>	
			<form class="getpassword-form">
				<input type="email" id="getEmail" placeholder="email address" required/>
				<input type="password" id="getPassword" placeholder="new password" required/>
				<input type="password" placeholder="confirm password" required/>	
				<button id="confirm">confirm</button>
				<p class="message">Already registered? <a href="#">Sign In</a></p>
			</form>
		</div>
	</div>
{% endblock %}