@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {
    height: 100%;
	/*font-family: 'Raleway', sans-serif;*/

}

.login-page {
  position: fixed;
  width: 360px;
  padding: 8% 0 0;
  margin: 50px 40%;
  z-index:1000;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
	font-size:14px;
	padding:10px 15px;
	background:#CD1F25;
	color: #FFF;
	text-decoration: none;
	border:none;
	cursor:pointer;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.form button:hover,.form button:active,.form button:focus {
  text-shadow: 0px 0px 1px #000;
    background: #292929;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #CD1F25;
  text-decoration: none;
}
.form .register-form,.form .login-form,.login-page,.form .getpassword-form{
  display: none;
}

#links_left{
	float:left;
	position:relative;
	padding-top:5px;
	margin-left:10px;
}

#links_left a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#links_left a:hover{
	color:#CD1F25;
}

#links_right{
	float:right;
	position:relative;
	padding-top:5px;
	margin-right:10px;
}

#links_right a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#links_right a:hover{
	color:#CD1F25;
}

