{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/style.css', _external=True) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/star-rating.css', _external=True) }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/star-rating-disable.js', _external=True) }}"></script>
    <script>
        jQuery(document).ready(function () {
            $(".rating-kv").rating();
        });
    </script>
{% endblock %}
{% block content %}
	    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ url_for('static', filename='images/banner-1.jpg') }}" alt="...">
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <!--<div class="item">-->
                            <!--<img src="..." alt="...">-->
                            <!--<div class="carousel-caption">-->
                            <!--...-->
                            <!--</div>-->
                            <!--</div>-->
                            ...
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#newProduct" aria-controls="newProduct" role="tab" data-toggle="tab">New Product</a></li>
                <li role="presentation"><a href="#exchangeProduct" aria-controls="exchangeProduct" role="tab" data-toggle="tab">Exchange Product</a></li>
                <li role="presentation"><a href="#donateProduct" aria-controls="donateProduct" role="tab" data-toggle="tab">Donate Product</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="newProduct">
                    <div class="section group">
                        <p><a href="{{ url_for('main.productList', pageNum = 1) }}">more new products</a></p>
                        {% for post in posts %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <a href="{{ url_for('main.product', id = post.key.id()) }}"><img src="{{ post.image_link }}" alt="{{ post.imagename }}"></a>
                                <div class="caption">
                                    <h3>{{ post.itemName }}</h3>
                                    <div>
{#                                        <a href="{{ url_for('main.user_account', username=post.user_name) }}">#}
{#                                            <img class="img-circle my_grid_img" src="{{ post.user_avator_link or url_for('static', filename='images/defaultAvator.jpg', _external=True) }}" width="50"/>#}
{#                                        </a>#}
{#                                        <a href="{{ url_for('main.user_account', username=post.user_name) }}">#}
{#                                            <span class="text-warning" style="margin-left:10%">{{ post.user_name }}</span>#}
{#                                        </a>#}
{#                                        <span style="margin-left:10%">trust rate</span>#}
{#                                        <p>#}
{#                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.#}
{#                                        </p>#}
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}" style="text-align: left">
                                            <img style="margin: 0;" class="img-circle my_grid_img" src="{{ url_for('main.image', useremail=post.user_email, _external=True) if (post.user_email in avatorResult) else url_for('static', filename='images/defaultAvator.jpg', _external=True) }}" width="50"/>
                                        </a>
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}">
                                            <span class="text-warning" style="margin-left:5%">{{ post.user_name }}</span>
                                        </a>
                                        <div style="position:relative; left:58%;top:-1.6em">
                                            <input id="input-21e" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs">
                                        </div>
                                        <p>
                                            {{ post.description }}
                                        </p>
                                    </div>
{#                                    <p>#}
{#                                        <a href="#" class="btn btn-primary" role="button">Button</a>#}
{#                                        <a href="#" class="btn btn-default" role="button">Button</a>#}
{#                                    </p>#}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="exchangeProduct">
                    <div class="section group">
                        <p><a href="{{ url_for('main.productEorD', eOrd='exchange', pageNum=1) }}">more exchange products</a></p>
                        {% for post in postsExchange %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <a href="{{ url_for('main.product', id = post.key.id()) }}"><img src="{{ post.image_link }}" alt="{{ post.imagename }}"></a>
                                <div class="caption">
                                    <h3>{{ post.itemName }}</h3>
                                    <div>
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}" style="text-align: left">
                                            <img style="margin: 0;" class="img-circle my_grid_img" src="{{ url_for('main.image', useremail=post.user_email, _external=True) if (post.user_email in avatorResult) else url_for('static', filename='images/defaultAvator.jpg', _external=True) }}" width="50"/>
                                        </a>
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}">
                                            <span class="text-warning" style="margin-left:5%">{{ post.user_name }}</span>
                                        </a>
                                        <div style="position:relative; left:58%;top:-1.6em">
                                            <input id="input-21e" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs">
                                        </div>
                                        <p>
                                            {{ post.description }}
                                        </p>
                                    </div>
{#                                    <p>#}
{#                                        <a href="#" class="btn btn-primary" role="button">Button</a>#}
{#                                        <a href="#" class="btn btn-default" role="button">Button</a>#}
{#                                    </p>#}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
{#                    <nav>#}
{#                        <ul class="pagination">#}
{#                            <li>#}
{#                                <a href="#" aria-label="Previous">#}
{#                                    <span aria-hidden="true">&laquo;</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li><a href="#">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#">4</a></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li>#}
{#                                <a href="#" aria-label="Next">#}
{#                                    <span aria-hidden="true">&raquo;</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="donateProduct">
                    <div class="section group">
                        <p><a href="{{ url_for('main.productEorD', eOrd='donate', pageNum=1) }}">more donate products</a></p>
                        {% for post in postsDonate %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <a href="{{ url_for('main.product', id = post.key.id()) }}"><img src="{{ post.image_link }}" alt="{{ post.imagename }}"></a>
                                <div class="caption">
                                    <h3>{{ post.itemName }}</h3>
                                    <div>
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}" style="text-align: left">
                                            <img style="margin: 0;" class="img-circle my_grid_img" src="{{ url_for('main.image', useremail=post.user_email, _external=True) if (post.user_email in avatorResult) else url_for('static', filename='images/defaultAvator.jpg', _external=True) }}" width="50"/>
                                        </a>
                                        <a href="{{ url_for('main.user_account', username = post.user_name) }}">
                                            <span class="text-warning" style="margin-left:5%">{{ post.user_name }}</span>
                                        </a>
                                        <div style="position:relative; left:58%;top:-1.6em">
                                            <input id="input-21e" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs">
                                        </div>
                                        <p>
                                            {{ post.description }}
                                        </p>
                                    </div>
{#                                    <p>#}
{#                                        <a href="#" class="btn btn-primary" role="button">Button</a>#}
{#                                        <a href="#" class="btn btn-default" role="button">Button</a>#}
{#                                    </p>#}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
{#                    <nav>#}
{#                        <ul class="pagination">#}
{#                            <li>#}
{#                                <a href="#" aria-label="Previous">#}
{#                                    <span aria-hidden="true">&laquo;</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li><a href="#">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#">4</a></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li>#}
{#                                <a href="#" aria-label="Next">#}
{#                                    <span aria-hidden="true">&raquo;</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}
                </div>
            </div>

        </div>
    </div>
{% endblock %}