{% extends "base.html" %}

{% block title %} User Account {% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/star-rating.css', _external=True) }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/star-rating.js', _external=True) }}"></script>
    <style>
        ul.info-bar{
            list-style: none;
            padding: 0;
        }
        ul.info-bar > li{
            border-bottom: 1px solid #eee;
            padding: 12px 0;
        }
        ul.info-bar > li > p{
            margin: 0;
            padding: 3px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li class="active">Profile</li>
        </ol>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('main.image', useremail=user.email, _external=True) if (user.email in avatorResult) else url_for('static', filename='images/defaultAvator.jpg', _external=True) }}" alt="">
                </a>
                <ul class="info-bar">
                    <li>
                        <h2>{{ user.name }}</h2>
                        <p><b>TrustWorthy Score: {{ user.rateScore }}%</b></p>
{#                        <div>#}
{#                            <input readonly="readonly" id="input-21e" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm">#}
{#                        </div>#}
                    </li>
                    <li>
                        <button type="button" class="btn btn-default">Follow</button>
                        <button type="button" class="btn btn-default">Private letter</button>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            Joined on {{ moment(user.member_since).format('L') }}.
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            Last seen on {{ moment(user.last_seen).format('L') }}.
                        </p>
                    </li>
                    <li>
                        {% if user == current_user %}
                        <a class="btn btn-default" href="{{ url_for('auth.edit_profile') }}">
                            Edit Profile
                        </a>
                        {% endif %}
                    </li>
                </ul>

                {% if current_user.email in buyerResult and current_user.rateCounts > 0 %}
                <div>
{#                    {{ buyerResult }}#}
                    <p>You can rate this user now!</p>
                    <div id="rateUser">
                        <div id="rating" class="rating" >
                            <a></a>
                        </div>
                        <div id="score">
                            <input id="input-21e" value="3.0" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm">
                        </div>
                    </div>
{#                    {% if  %}#}
                    <br>
                    <button class="btn btn-primary"  onclick="rateUser('{{ user.email }}')">Rate</button>
{#                    {% endif %}#}
                    <script>
                        var rating=$('#rating');
                        var leftRating = rating.offset().left,
                            width = rating.width(),
                            clickWidth = 0;

                        rating.mouseover(function(e){
                            var overWidth=parseInt(((e.pageX-leftRating)/width)*100,10);
                            $(this).find('a').css({'width':(overWidth+'%')});
                        });
                        rating.mouseout(function(){
                            $(this).find('a').css({'width':(clickWidth)+'%'});
                        });
                        rating.mousemove(function(e){
                            var hoverWidth=parseInt(((e.pageX-leftRating)/width)*100,10);
                            $(this).find('a').css({'width':(hoverWidth+'%')});
                        });
                        rating.click(function(e){
                            clickWidth=parseInt(((e.pageX-leftRating)/width)*100,10);
                            $(this).find('a').css({'width':(clickWidth+'%')});
                            $('#score em').text(clickWidth);
                        });
                    </script>
                </div>
                {% else %}
                    <p>You cannot rate this user.</p>
                {% endif %}

{#                <div class="page-header">#}
{#                    {{ user.location }}#}
{#                    {{ user.about_me }}#}
{#                    {% if user.name or user.location %}#}
{#                    <p>#}
{#                        {% if user.name %}{{ user.name }}{% endif %}#}
{#                        {% if user.location %}#}
{#                            From#}
{#                            <a href="http://maps.google.com/?q={{ user.location }}">#}
{#                                {{ user.location }}#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </p>#}
{#                    {% endif %}#}
{#                    {% if current_user.is_administrator() %}#}
{#                        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>#}
{#                    {% endif %}#}
{#                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}#}
{#                </div>#}
            </div>

            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Posted items</div>
                    <div class="panel-body">
                        {% for post in posts %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <a href="{{ url_for('main.product', id = post.key.id()) }}"><img src="{{ post.image_link }}" alt="{{ post.imagename }}"></a>
                                <div class="caption">
                                    <h3>{{ post.itemName }}</h3>
                                    <div id="userScore">
                                        <p><b>TrustWorthy Score: <span></span>%</b></p>
{#                                        <div>#}
{#                                            <input id="input-21e" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs">#}
{#                                        </div>#}
                                        <script>
                                            $.ajax('/userRateStatus/' + '{{ post.user_email }}').done(function (output) {
{#                                                alert(output);#}
{#                                                $("#input-21e").attr("value", output);#}
{#                                                var scoreAttr = "width: " + output + "%';";#}
{#                                                $(".rating-container").find(".rating-stars").attr("style", scoreAttr);#}
                                                $("#userScore").find("span").text(output);
                                            });
                                        </script>
                                    </div>
                                    {% if current_user.is_authenticated and current_user == user %}
                                    <p>
                                        {% if post.haveExchange %}
                                            <button disabled="disabled" class="btn btn-primary" type="button" id="haveExchange" onclick="haveExchange({{ post.key.id() }})">Have Exchanged</button>
                                        {% else %}
                                            <button class="btn btn-primary" type="button" id="haveExchange" onclick="haveExchange({{ post.key.id() }}, this)">Exchanged</button>
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/login_register_upload.js', _external=True) }}"></script>
{% endblock %}